doctype 5
html
  head
    title Nurblr
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Lily+Script+One')
    link(rel='icon', href='/images/favicon.ico', type='image/x-icon')
    link(rel='shortcut icon', href='/images/favicon.ico', type='image/x-icon')
  body
    block body