extends layout

block body
  .text-center
    h1 404
    p 
      | You're lost.
      br
      span.subheader Dude, how are you lost? There's literally one page in this app.
      br
      a(href='/') Go back.