@import 'normalize.css';
@import 'foundation.css';
html,
body {
  background-color: #eee;
}
body {
  padding-top: 2.5em;
}
.row {
  background-color: #fff;
  border-radius: 5px;
}
.row .columns {
  padding: 1em;
}
textarea {
  min-height: 15em;
  height: auto;
  margin: 0;
  font-size: 1em;
  line-height: 1.6em;
  word-wrap: break-word;
  resize: none;
  overflow-y: hidden;
}
.output {
  padding: 0.7em;
  box-sizing: border-box;
}
.statistics {
  padding-top: 1em;
  border-top: dashed 1px #aaa;
  font-size: 0.9em;
  color: #888;
}
.statistics b {
  color: #555;
}
footer {
  margin-top: 1em;
  font-size: 0.8em;
}
h1 {
  font-family: 'Lily Script One', sans-serif;
  font-size: 1.875em;
  font-weight: 100;
}
